body{
    margin: 0;
    padding: 0;
}

#barra-superior{
    padding: 5px 5px 10px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: orange;
}

#barra-superior label{
    height: 100%;
    font-size: 8vw;
    text-align: left;
    color: white;
    font-weight: 500;
    flex-grow: 1;
}

#barra-superior img{
    height: 10vw;
    align-self: flex-end;
}

#bloco-relatorio{
    font-size: 4vw;
    font-family: monospace;
    font-weight: 600;
    color: #222;
    padding: 10px;
    flex-grow: 1;
    overflow: scroll;
    background-color: rgb(255, 248, 239);
}

.sombra{
    box-shadow: 2px 0px 5px #000a;
}
